body{
background-color: #FFFFFF;
font-family: 'Roboto', sans-serif; 
color: #434455;
font-weight:Regular;
Size:16px;
Line-Height: 24px;
letter-spacing:2%
}

.logo{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.headerlist{
    font-weight: 500;
    letter-spacing: 0.02em;
    color: #2e2f42;
    line-height: 1.5;
}
.headerlist:hover,
.headerlist:active,
.headerlist:focus{
    color: #404bbf;
}

address{
    font-style: normal;
}

.contact{
    letter-spacing: 0.02em;
    color: #434455;
}
.contact:hover,
.contact:focus{
    color: #404bbf;
}

.section-1-strategy{
    background-color: #2e2f42;

}

.section-3-Our Team{
    background-color: #F4F4FD;
}



ul,ol{
    list-style-type: none;
}

a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color:#4D5AE5;
}

.header-1{
    font-family: roboto;
    font-weight: bold;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;

}

.button-order-service{
    background-color: #4D5AE5;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
}

.button-order-service:hover,
.button-order-service:focus{
    background-color: #404BBF;
}

.header-2{
    font-family:robot;
    font-weight:bold;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    font-size: 36px;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.mark{
    background-color: #FFFFFF
}

.header-3{
    font-family:roboto;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
}

.feature-text{
    font-family: roboto;
    font-weight: 400;
    font-size:16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header3-text{
    font-weight:400;
    font-size:16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color:#434455;
}


.footer {
    background-color: #2e2f42;
}

.footer-text{
    color:#F4F4FD;
    font-family: roboto;
    letter-spacing: 0.02em;
}



button {
            cursor: pointer;
        }






        
    /*
}
.logo-web{
    color:#4D5AE5;
}
.logo-studio{
    color: #F4F4FD;
}
    */
    